{% extends 'pages/base.html' %}

{% block title %}Login{% endblock %}

{% block nav %}
    {% include 'includes/nav.html' %}
{% endblock %}

{% block header %}
    <div class="container-fluid mb-3">
        <h1 class="display-3 mb-3">Log In</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mb-3">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Log In</button>
        </form>
    </div>

    <div class="container-fluid">
        <p class="mt-3">Don't have an account? <a href="{% url 'signup' %}" class="btn">
            Sign Up</a></p>
    </div>

{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}
```