{# this page access rows in the db. #}
{% extends 'pages/base.html' %}
{% block title %}
    Continent Consumption Detail
{% endblock %}

{% block nav %}
    {% include 'includes/nav.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid mb-3">
        <h1>Year: {{ continent_consumption.year }}</h1>
        <a href="{% url 'continent_consumption' %}" class="btn btn-primary">Back</a>
    </div>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">World</th>
            <th scope="col">OECD</th>
            <th scope="col">BRICS</th>
            <th scope="col">EUROPE</th>
            <th scope="col">NORTH AMERICA</th>
            <th scope="col">LATIN AMERICA</th>
            <th scope="col">ASIA</th>
            <th scope="col">PACIFIC</th>
            <th scope="col">AFRICA</th>
            <th scope="col">MIDDLE EAST</th>
            <th scope="col">CIS</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>{{ continent_consumption.world|floatformat:2 }}</td>
            <td>{{ continent_consumption.oecd|floatformat:2 }}</td>
            <td>{{ continent_consumption.brics|floatformat:2 }}</td>
            <td>{{ continent_consumption.europe|floatformat:2 }}</td>
            <td>{{ continent_consumption.north_america|floatformat:2 }}</td>
            <td>{{ continent_consumption.latin_america|floatformat:2 }}</td>
            <td>{{ continent_consumption.asia|floatformat:2 }}</td>
            <td>{{ continent_consumption.pacific|floatformat:2 }}</td>
            <td>{{ continent_consumption.africa|floatformat:2 }}</td>
            <td>{{ continent_consumption.middle_east|floatformat:2 }}</td>
            <td>{{ continent_consumption.cis|floatformat:2 }}</td>
        </tr>

        </tbody>
    </table>


{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}