{% extends 'pages/base.html' %}


{% block title %}Continental Energy Consumption{% endblock %}

{% block nav %}
    {% include 'includes/nav.html' %}
{% endblock %}


{% block content %}

    <div class="container-fluid mb-3">
        <h1>Continental Energy Consumption</h1>
        <a href="{% url 'pdf_two' %}" class="btn btn-primary">Generate PDF</a>
    </div>
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th>year</th>
                    <th><a href="{% url 'continent_energy_consumption_column_detail' column_name='world' %}" class="btn btn-primary
">world</a></th>
                    <th><a href="{% url 'continent_energy_consumption_column_detail' column_name='oecd' %}"
                           class="btn btn-primary">oecd</a></th>
                    <th><a href="{% url 'continent_energy_consumption_column_detail' column_name='brics' %}"
                           class="btn btn-primary">brics</a></th>
                    <th><a href="{% url 'continent_energy_consumption_column_detail' column_name='europe' %}"
                           class="btn btn-primary">europe</a>
                    </th>
                    <th><a href="{% url 'continent_energy_consumption_column_detail' column_name='north_america' %}"
                           class="btn btn-primary">north_america</a>
                    </th>
                    <th><a href="{% url 'continent_energy_consumption_column_detail' column_name='latin_america' %}"
                           class="btn btn-primary">latin_america</a>
                    </th>
                    <th><a href="{% url 'continent_energy_consumption_column_detail' column_name='asia' %}"
                           class="btn btn-primary">asia</a></th>
                    <th><a href="{% url 'continent_energy_consumption_column_detail' column_name='pacific' %}"
                           class="btn btn-primary">pacific</a>
                    </th>
                    <th><a href="{% url 'continent_energy_consumption_column_detail' column_name='africa' %}"
                           class="btn btn-primary">africa</a>
                    </th>
                    <th><a href="{% url 'continent_energy_consumption_column_detail' column_name='middle_east' %}"
                           class="btn btn-primary">middle_east</a>
                    </th>
                    <th><a href="{% url 'continent_energy_consumption_column_detail' column_name='cis' %}"
                           class="btn btn-primary">cis</a></th>

                </tr>
                </thead>
                <tbody>
                {% for consumption in continent_consumption %}
                    <tr>
                        <td>
                            <a href="{% url 'continent_consumption_detail' consumption.pk %}"
                               class="btn btn-primary">{{ consumption.year }}</a>
                        </td>

                        <td>
                            {{ consumption.world|floatformat:2 }}
                        </td>
                        <td>
                            {{ consumption.oecd|floatformat:2 }}
                        </td>
                        <td>
                            {{ consumption.brics|floatformat:2 }}
                        </td>
                        <td>
                            {{ consumption.europe|floatformat:2 }}
                        </td>
                        <td>
                            {{ consumption.north_america|floatformat:2 }}
                        </td>
                        <td>
                            {{ consumption.latin_america|floatformat:2 }}
                        </td>
                        <td>
                            {{ consumption.asia|floatformat:2 }}
                        </td>
                        <td>
                            {{ consumption.pacific|floatformat:2 }}
                        </td>
                        <td>
                            {{ consumption.africa|floatformat:2 }}
                        </td>
                        <td>
                            {{ consumption.middle_east|floatformat:2 }}
                        </td>
                        <td>
                            {{ consumption.cis|floatformat:2 }}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No data</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}