{% extends 'pages/base.html' %}
{% load static %}

{% block nav %}
    {% include 'includes/nav.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid mb-3">
        <h1>Column detail for {{ column_data.name }}. </h1>
        <a href="{% url 'country_consumption' %}" class="btn btn-primary">Back</a>
    </div>

    <ul>
        {% for value in column_data %}
            <li>{{ value }}</li>
        {% endfor %}
    </ul>
    <div>
        <img src="{% static 'display_data/images/plot.png' %}" class="img-fluid" alt="plot">
    </div>
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}
```